<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497510127334-9o74c44nicbpl7porvnkhb59c71vkjt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497510127334-9o74c44nicbpl7porvnkhb59c71vkjt4</string>
	<key>API_KEY</key>
	<string>AIzaSyASsBnpyqoD4jDxh21cWSARZ1Wrk6jFOWI</string>
	<key>GCM_SENDER_ID</key>
	<string>497510127334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadawoud.CryptoCandles</string>
	<key>PROJECT_ID</key>
	<string>cryptocandles-539d2</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptocandles-539d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497510127334:ios:780abf57a12c6be06bcd27</string>
</dict>
</plist>